<header>        
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
	    <logo>
	        <a href="#" class="navbar-brand">Song CVS</a>
	    </logo>
	    <links>
	        <ul class="navbar-nav">
	            <li *ngIf="!isLoggedIn()" class="nav-item">
	                <a class="nav-link waves-light" routerLink="/login" routerLinkActive="active">Sign in</a>
	            </li>
	            <li *ngIf="isLoggedIn()" class="nav-item">
	                <a class="nav-link waves-light" routerLink="/songs" routerLinkActive="active">Songs</a>
	            </li>
	            <li *ngIf="isLoggedIn()" class="nav-item">
	                <a class="nav-link waves-light" (click)="logout()" routerLinkActive="active">Logout</a>
	            </li>
	        </ul>
	    </links>
	</mdb-navbar>
</header>    

<main class="py-5 mt-3">

    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <router-outlet></router-outlet>

            </div>
        </div>
    </div>

</main>
